<v-card class="my-4">
  <v-card-title>
    Lorem ipsum dolor sit.
  </v-card-title>
  <v-card-text>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eveniet vel sunt, numquam quasi, accusantium quisquam corporis illum vero nulla debitis neque quas maiores? Iste nisi perspiciatis velit nam nulla?
    <v-radio-group>
      <v-radio
        v-for="n in 3"
        :key="n"
        label="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eveniet vel sunt, numquam quasi, accusantium quisquam corporis illum vero nulla debitis neque quas maiores? Iste nisi perspiciatis velit nam nulla?"
        :value="n"
      ></v-radio>
    </v-radio-group>
  </v-card-text>
</v-card>