.question-type-select {
  max-width: 230px;
}

.input-short-disabled,
.input-long-disabled {
  max-width: 360px;
}

.input-date-disabled,
.input-time-disabled {
  max-width: 200px;
}

.drag-handle {
  cursor: move;
}
