<div class="card-wrapper mx-auto">
  <v-card class="mt-2 mb-12 my-sm-12 mx-2 mx-sm-8">
    <v-card-title>
      <h1>
        Start creating amazing pools with Cool#Pool for free
      </h1>
    </v-card-title>
    <v-card-text>
      Opinion polls for many years were maintained through telecommunications or in person-to-person contact. Methods
      and techniques vary, though they are widely accepted in most areas. Over the years, technological innovations have
      also influenced survey methods such as the availability of electronic clipboards and Internet based polling.
      Verbal, ballot, and processed types can be conducted efficiently, contrasted with other types of surveys,
      systematics, and complicated matrices beyond previous orthodox procedures.
      <br><br>
      Opinion polling developed into popular applications through popular thought, although response rates for some
      surveys declined. Also, the following has also led to differentiating results: Some polling organizations, such
      as Angus Reid Public Opinion, YouGov and Zogby use Internet surveys, where a sample is drawn from a large panel of
      volunteers, and the results are weighted to reflect the demographics of the population of interest. In contrast,
      popular web polls draw on whoever wishes to participate, rather than a scientific sample of the population, and
      are therefore not generally considered professional.
      <br><br>
      Recently, statistical learning methods have been proposed in order to exploit social media content (such as posts
      on the micro-blogging platform of Twitter) for modelling and predicting voting intention polls.
      <br><br>
      Polls can be used in the public relations field as well. In the early 1920s, public relation experts described
      their work as a two-way street. Their job would be to present the misinterpreted interests of large institutions
      to public. They would also gauge the typically ignored interests of the public through polls.
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="success" :to="{name: 'List'}">Get started</v-btn>
    </v-card-actions>
  </v-card>
</div>