<div class="home">

  <div class="cards-wrapper mx-auto">

    <v-card class="my-4">
      <v-card-text>
        <v-textarea hide-details auto-grow rows="1" placeholder="New form" class="form-name-input mt-0" v-model="formName">
        </v-textarea>
        <v-textarea hide-details auto-grow rows="1" placeholder="Form description" class="pt-1 mb-2" v-model="formDescription">
        </v-textarea>
      </v-card-text>
    </v-card>

    
    <cpl-question-edit v-for="(q, idx) of questions" :key="idx" @delete="questions.splice(idx, 1)" :deletable="questions.length > 1"></cpl-question-edit>
    
    <div class="d-flex justify-end">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn fab color="primary" class="mt-2" v-bind="attrs" v-on="on" @click="questions.push(null)">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>Add question</span>
      </v-tooltip>
    </div>

  </div>

</div>