<div class="cards-wrapper mx-auto mt-8">
  <v-card>
    <v-card-title>
      <h2 class="font-weight-regular">
        Lorem, ipsum dolor.
      </h2>
    </v-card-title>
    <v-card-text>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, asperiores incidunt, quae nobis similique sequi vitae officia sapiente et repellendus iusto repudiandae totam odio illo rem iure eos aliquam. Porro, voluptatibus? Impedit quod quis illo, beatae labore voluptatem doloribus voluptate!
    </v-card-text>
  </v-card>
  <cpl-fill-card></cpl-fill-card>
  <cpl-fill-card></cpl-fill-card>
  <cpl-fill-card></cpl-fill-card>
  <v-btn color="primary">
    Send
  </v-btn>
</div>